*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main-container{
    width: 1400px;
    height: 900px;
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px 5px gray;
}

.card{
    width: 350px;
    height: 600px;
    background: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.image-container{
    margin-top: 25px;
    position: relative;
}

.main-image{
    width: 300px;
    border-radius: 8px;
}

.eye-container{
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.55);
    width: 100%;
    height: 300px;
    top: 0;
    border-radius: 12px;
    opacity: 0;
}

.eye-container img{
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.eye-container:hover{
    opacity: 100%;
    cursor: pointer;
}

.content{
    width: 300px;
    margin-top: 20px;
}

.title{
    color: white;
    font-weight: 600;
    font-size: calc(21rem / 16);
}

.title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.caption{
    color: hsl(215, 51%, 70%);
    font-size: calc(18rem / 16);
    margin-top: 20px;
    font-weight: 300;
}

.details{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    align-items: center;
    height: 20px;
}

.price span{
    margin-left: 6px;
    color: hsl(178, 100%, 50%);
}

.date{
    display: flex;
    align-items: center;
    height: 20px;
}

.date img{
    height: 20px;
}

.date span{
    margin-left: 6px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.creator-container{
    width: 300px;
    padding-top: 20px;
    border-top: solid 1px hsl(215, 32%, 27%);
    display: flex;
    align-items: center;
}

.creator-container img{
    width: 35px;
    border: solid 1px white;
    border-radius: 50%;
}

.creator-title{
    margin-left: 15px;
    color: hsl(215, 51%, 70%);
}

.name{
    color: white;
}

.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
}

@media(max-width: 540px){
    .main-container{
        width: 100vw;
        height: 100vh;
    }

    footer{
        display: none;
    }
}